.App {
  display: flex;
  flex-direction: column;
  align-items: left;
  justify-content: left;
  min-height: 100vh;  
  margin: 1rem 1rem 1rem 1rem;
}

.Input{
  display: flex;
  flex-direction: row;
  align-items:baseline;
  gap:.2rem;
  max-width: 100%;
  max-height: 100vh
}

.Input::after{
  content: "";
  width: 1ch;
  height: .11rem;
  background: lawngreen;
  display: inline-block;
  animation: cursor-blink 1.5s steps(2) infinite;
}

.InputBox{
  caret-color: transparent;
  font-family: inherit;
  font-size: inherit;
  color: lawngreen;
  text-shadow: 0 0 .3rem #C8C8C8;
  background-color: black;
  border: none;
  outline: none;
}

.Display{
  white-space: pre-wrap;
}

@keyframes cursor-blink{
  0% {
    opacity: 0;
  }
}
