html{
  font-size: 25px;
}

body {
  height: 100vh;
  margin: 0;
  font: 1rem OCR A Std;
  font-family: monospace;
  background-color: black;
    background-image: radial-gradient(
    rgba(0, 150, 0, .75)
  );
  color:lawngreen;
  text-shadow: 0 0 .3rem #C8C8C8;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
